<!DOCTYPE html>
<html>
    <head>
        <title>Car API Demo Application</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="car_app.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="car_style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container" ng-app="carApp" ng-controller="detailsController">
            <div class="row">
                <div class="col-md-3">
                    <dl class="horizontal car-details">
                        <dt>Car ID</dt>
                        <dd>{{car.id}}</dd>
                        <dt>Make</dt>
                        <dd>{{car.make}}</dd>
                        <dt>Model</dt>
                        <dd>{{car.model}}</dd>
                        <dt>Type</dt>
                        <dd>{{car.type}}</dd>
                        <dt>Year</dt>
                        <dd>{{car.year}}</dd>
                        <dt>Odometer</dt>
                        <dd>{{car.odo}}</dd>
                    </dl>
                </div>
                <div class="col-md-9">
                    <table class="table table-striped">
                        <tr>
                            <th>Task ID</th>
                            <th>Task type</th>
                            <th>Task date</th>
                            <th>Task cost</th>
                        </tr>
                        <tr ng-repeat="task in car.maintenance_tasks">
                            <td>{{task.id}}</td>
                            <td>{{task.type}}</td>
                            <td>{{task.date}}</td>
                            <td>${{task.cost}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <button type="button" class="btn btn-warning" ng-click="back()">Back</button>
        </div>
    </body>
</html>
