<!DOCTYPE html>
<html>
    <head>
        <title>Car API Demo Application</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="car_app.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="car_style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div ng-app="carApp" ng-controller="mainController">
            <div class="container">
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Year</th>
                        <th>Type</th>
                        <th>Odometer</th>
                        <th>No. of tasks</th>
                        <th>Details</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr ng-repeat="car in cars">
                        <td>{{car.id}}</td>
                        <td>{{car.make}}</td>
                        <td>{{car.model}}</td>
                        <td>{{car.year}}</td>
                        <td>{{car.type}}</td>
                        <td>{{car.odo}}</td>
                        <td>{{car.maintenance_tasks.length}}</td>
                        <td><span class="glyphicon glyphicon-search clickable" ng-click="carDetails(car.id)"></span></td>
                        <td><span class="glyphicon glyphicon-pencil clickable" ng-click="editCar(car.id)"></span></td>
                        <td><span class="glyphicon glyphicon-trash clickable" ng-click="deleteCar($index)"></span></td>
                    </tr>
                </table>
                <button type="button" class="btn btn-info" ng-click="createCar()">Add a new car</button>
            </div>
        </div>
        
    </body>
</html>
