<!DOCTYPE html>
<html>
    <head>
        <title>Car API Demo Application</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="car_app.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="car_style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div ng-app="carApp" ng-controller="editController">
            <div class="container">
                <div class="row">
                    <form>
                        <div class="col-md-4">
                            <h2>Car details</h2>
                            <div class="form-group">
                            <label for="make">Make:</label>
                            <input type="text" class="form-control" ng-model="car.make" />
                            </div>
                            <div class="form-group">
                            <label for="model">Model:</label>
                            <input type="text" class="form-control" ng-model="car.model" />
                            </div>
                            <div class="form-group">
                            <label for="year">Year:</label>
                            <input type="number" min="1900" class="form-control" ng-model="car.year" />
                            </div>
                            <div class="form-group">
                            <label for="odometer">Odometer:</label>
                            <input type="number" min="0" class="form-control" ng-model="car.odo" />
                            </div>
                            <button type="button" class="btn btn-info" ng-click="edit()">Submit changes</button><br />
                            <button type="button" class="btn btn-warning" ng-click="back()">Back</button>
                        </div>
                        <div class="col-md-4">
                            <h2>Existing tasks</h2>
                            <div ng-repeat="task in car.maintenance_tasks" class="task-item">
                                <dl>
                                    <div class="task-heading">
                                    <dt>Task ID</dt>
                                    <dd>{{task.id}} <span class="glyphicon glyphicon-trash clickable" ng-click="deleteExistingTask($index)"></span></dd>
                                    </div>
                                    <dt>Task type</dt>
                                    <dd>{{task.type}}</dd>
                                </dl>
                                <div class="form-group">
                                    <label for="date">Date</label>
                                    <input type="date" class="form-control" ng-model="task.raw_date" ng-change="markChanged($index)" />
                                </div>
                                <div class="form-group">
                                    <label for="cost">Cost</label>
                                    <input type="number" min="0" class="form-control" ng-model="task.cost" ng-change="markChanged($index)"/>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h2>New tasks</h2>
                            <div ng-repeat="task in tasks">
                                <p class="task-heading">Task #{{$index + 1}} <span class="glyphicon glyphicon-trash clickable" ng-click="removeTask($index)"></span></p>
                                <div class="form-group">
                                <label for="date">Type</label>
                                <select class="form-control" ng-model="task.type">
                                  <option value="tire_rotation">Tire rotation</option>
                                  <option value="oil_change">Oil change</option>
                                  <option value="brake_refill">Brake fluid refill</option>
                                </select>
                                </div>
                                <div class="form-group">
                                <label for="date">Date</label>
                                <input type="date" class="form-control" ng-model="task.raw_date" />
                                </div>
                                <div class="form-group">
                                <label for="cost">Cost</label>
                                <input type="number" min="0" class="form-control" ng-model="task.cost" />
                                </div>
                            </div>
                            <span class="glyphicon glyphicon-plus clickable" ng-click="createTask()"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
